boady{
    margin: 0;
    padding: 0;
}

#fullbackground{
    background-image: url(../img/me.jpg);
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-position: 50% 0px;
    background-size: cover;
    
}
body div{
    background-color: #fff;
    max-width: 400px;
    max-height: 150%;
    position: absolute;
    bottom: 0;
    left:40px;
    padding: 20px;


}

body div:nth-child(1) h3{
    font-size: 1em;
    font-weight: 300;
}
input{
    height: 30px;
  
}
button{
    color:white;
    background-color: blue;
    border: none;
    height: 30px;
    margin: 5px;
    display: block;
   
}
